spring:
  profiles:
    active: local

---
spring:
  config:
    activate:
      on-profile: local

  application:
    name: weather-service

  datasource:
    url: jdbc:mysql://localhost:3313/db_weather_service
    username: root
    password: Triduong123@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    hostname: localhost

server:
  port: 8086

logging:
  level:
    com.webchat: DEBUG

---
spring:
  config:
    activate:
      on-profile: docker

  application:
    name: weather-service

  datasource:
    url: jdbc:mysql://mysql-weather:3306/db_weather_service
    username: root
    password: Triduong123@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    hostname: weather-service

server:
  port: 8086

logging:
  level:
    com.webchat: DEBUG
