server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false   # Server không tự đăng ký
    fetch-registry: false         # Server không lấy danh sách
  server:
    enable-self-preservation: false  # Dễ test khi shutdown nhanh

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
